# App artifacts
/_build
/deps
/doc
/tmp
/node_modules

/installer/_build
/installer/tmp

# Generated on crash by the VM
erl_crash.dump

# The config/prod.secret.exs file by default contains sensitive
# data and you should not commit it into version control.
#
# Alternatively, you may comment the line below and commit the
# secrets file as long as you replace its contents by environment
# variables.
/config/prod.secret.exs

# -*- mode: gitignore; -*-
# *~
 \#*\#
# /.emacs.desktop
# /.emacs.desktop.lock
# *.elc
# auto-save-list
# tramp
.\#*
#
# # Org-mode
# .org-id-locations
# *_archive
#
# # flymake-mode
# *_flymake.*
#
# # eshell files
# /eshell/history
# /eshell/lastdir
#
# # elpa packages
# /elpa/
#
# # reftex files
 *.rel
#
# # AUCTeX auto folder
# /auto/
#
# # cask packages
 .cask/
 dist/
#
# # Flycheck
 flycheck_*.el
#
# # server auth directory
# /server/
#
# # projectiles files
 .projectile


/priv/static/**/*

.DS_Store